.app__title{
  height: 24px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.5px;
  text-align: left;
  color: #006ea0;
  margin: 23px 0 0 20px;
}
.app__title__separator{
  width: 300px;
  height: 1px;
  border-top: solid 1px #cacaca;
  margin: 10px 0 0 20px;
}

.calculator {
  width: 300px !important;
  height: 450px;
  object-fit: contain;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
  margin: 20px 0 0 10px;
  padding: 15px 20px;
  z-index: 1;
}

.results {
  width: 295px !important;
  height: 306px;
  background-color: #eaf6fa;
  /* padding-top: 41px; */
  padding-left: 20px;
  padding-right: 25px;
  margin: -20px 0 122px 10px;
}

.app__label{
  height: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.2px;
  text-align: left;
  color: #3e3d3f;
}

.app__separator{
  width: 260px;
  height: 2px;
  border-top: solid 1px #cacaca;
  margin-top: 5px;
}

.results__separator{
  width: 192px;
  height: 2px;
  border-top: solid 1px #cacaca;
}

.input__label {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.2px;
  text-align: left;
  color: #3e3d3f;
  display: block;
}

.form__group{
  width: 260px;
  height: 67px;
  margin-top: 10px;
}

.mortage__form{
    margin-top: 15px;
}

.input__min__value__label, .input__max__value__label {
  /* height: 36px; */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #3e3d3f;
  margin-top: 11px;
}

.years_mortage__range::-ms-track, .interest_rate__range::-ms-track {
    width: 260px;
    height: 8px;
    padding-bottom: 4px;
    margin-top: -5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}
.years_mortage__range::-ms-fill-lower, .interest_rate__range::-ms-fill-lower {
    background: #1091cc;
    border-radius: 10px;
}
.years_mortage__range::-ms-fill-upper, .interest_rate__range::-ms-fill-upper {
    background: #a6a6a6;
    border-radius: 10px;
}
.years_mortage__range::-ms-thumb, .interest_rate__range::-ms-thumb {
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
}
.years_mortage__range:focus::-ms-fill-lower, .interest_rate__range:focus::-ms-fill-lower {
    background: #1091cc;
}
.years_mortage__range:focus::-ms-fill-upper, .interest_rate__range:focus::-ms-fill-upper {
    background: #a6a6a6;
}

/* Main Feature */
.panel {
  overflow: hidden;
  max-height: 1000px;
  -webkit-transition: max-height 1.5s; 
  -moz-transition: max-height 1.5s; 
  -ms-transition: max-height 1.5s; 
  -o-transition: max-height 1.5s; 
  transition: max-height 1.5s;
}
.collapsed {
  max-height: 0px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {

  .years_mortage__range, .interest_rate__range {
      -webkit-appearance: none;
      display: inline-block;
      background: linear-gradient(to right, rgba(175, 175, 175, 0.3) 0%, rgba(175, 175, 175, 0.3) 100%);
      background-position: center;
      background-size: 90% 8px;
      background-repeat: no-repeat;
      -webkit-appearance: none;
      width: 183px !important;
      height: 36px;
      border-radius: 100px;
      overflow: hidden;
      margin-top: 3px;
      margin-bottom: 5px;
      vertical-align: middle;
      outline: none;
  }

  .years_mortage__range::-webkit-slider-thumb, .interest_rate__range::-webkit-slider-thumb {
      -webkit-appearance: none;
  }

  .years_mortage__range::-webkit-slider-thumb, .interest_rate__range::-webkit-slider-thumb {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
    cursor: ew-resize;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    background-color: #fff;
    pointer-events: none;
    border-radius: 100px;
    width: 24px;
    height: 24px;
    position: relative;
  }

  .years_mortage__range::-webkit-slider-thumb:before, .interest_rate__range::-webkit-slider-thumb:before {
    position: absolute;
    top: 8px;
    left: -2000px;
    width: 2000px;
    height: 8px;
    background: #1091cc;
    content: ' ';
  }

  .years_mortage__range::-webkit-slider-runnable-track, .interest_rate__range::-webkit-slider-runnable-track {
    border-radius: 50%;
    cursor: ew-resize;
  }

}

@-moz-document url-prefix() {

  .mortage_label, .interest_label{
    margin-bottom: 5px;
  }
  .input__min__value__label, .input__max__value__label{
    margin-top: 0px;
  }
  .years_mortage__range::-moz-range-track, .interest_rate__range::-moz-range-track {
    display: inline-block;
    background-position: center;
    background-size: 90% 8px;
    background-repeat: no-repeat;
    width: 250px !important;
    height: 8px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 3px;
    margin-bottom: 5px;
    vertical-align: middle;
    outline: none;
  }

  .years_mortage__range::-moz-range-thumb, .interest_rate__range::-moz-range-thumb {
      -moz-appearance: none;
  }

  .years_mortage__range::-moz-range-thumb, .interest_rate__range::-moz-range-thumb {
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
    cursor: pointer;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-appearance: none;
    background-color: #fff;
    pointer-events: none;
    border-radius: 100px;
    width: 24px;
    height: 24px;
    position: relative;
  }

  .years_mortage__range::-moz-range-progress, .interest_rate__range::-moz-range-progress {
    position: absolute;
    top: 8px;
    left: -2000px;
    width: 2000px;
    height: 8px;
    background: #1091cc;
    border-radius: 100px;
    content: ' ';
  }

}

.years_mortage__value, .interest_rate__value {
  width: 50px !important;
  height: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #a6a6a6;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

.loan_amount__value{
  width: 260px;
  height: 40px;
  padding-left: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #a6a6a6;
  display: block;
}

.annual_tax__value, .annual_insurance__value{
  width: 100px !important;
  height: 40px;
  padding-left: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #a6a6a6;
  display: inline-block;
}

.annual_insurance__value, .annual_insurance__label, .annual_insurance__addon, .insurance_err_label{
  margin-left: 11px;
}

input[type=number]:focus {
  -webkit-box-shadow: none;
  box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
  outline: solid 1px #3e3d3f;
}

.btn{
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: #0077c0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
  color: #ffffff;
  margin-top: 37px;
}

.monthly_err_label{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #da3535;
  display: none
}

.input__container {
    position:relative;
    width: 182px;
    margin-top: 5px;
}

.input__addon {
  position:absolute;
  font-size: 16px;
  top:11px;
  left: 25px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* height: 1200px; */
}

.results__title {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #3e3d3f;
  margin-bottom: 30px;
  margin-top: 41px;
}

.results_label{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: left;
  color: #3e3d3f;
}
.results_value{
  opacity: 0.2;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #3e3d3f;
  margin-bottom: 18px;
}

.results_value_display{
  height: 30px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #3e3d3f;
  margin-bottom: 12px;  
}

.results_value_display_mobile{
  height: 16px;
  font-family: SFUIDisplay;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #3e3d3f;
}

.results_mortage__label {
  margin-top: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #3e3d3f;
}

.error_label {
  height: 15px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #da3535;
  display: block;
  padding-bottom: 12px;
}


@media (min-width: 750px) {
  
  .container {
    width: 900px;    
    margin: 0 auto;
  }
  .app__title{
    height: 30px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    margin-left: 25px;
    margin-top: 10px;
    color: #005175;
  }
  .app__title__separator{
      width: 820px;
      margin-top: 15px;
      margin-left: 25px;
  }
  .app__label{
    width: 391px;
    height: 24px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: left;
    color: #3e3d3f;
  }
  .app__separator{
    width: 391px;
    margin-top: 10.5px !important;
  }
  .mortage__form{
    margin-top: 35px;
  }
  .form__group{
    margin-top: 0px;
    margin-bottom: -3px;
    padding-bottom: 15px;
  }
  .input__min__value__label, .input__max__value__label {
    width: 24px  !important;
    font-size: 16px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  .input__label{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: 0.2px;
    text-align: left;
    color: #3e3d3f;
    /* margin-top: 5px; */
  }
  .years_mortage__value, .interest_rate__value {
    width: 60px !important;
    margin-left: 7px;
    margin-top: -2px;
    font-size: 16px;
  }
  .years_mortage__range, .interest_rate__range {
     width: 268px !important;
  }
  
  @-moz-document url-prefix() {
    .years_mortage__value, .interest_rate__value {
      margin-top: -12px;
    }
    .years_mortage__range, .interest_rate__range {
       width: 250px !important;
    }     
  }

  .loan_amount__value{
    width: 350px !important;
  }
  .annual_tax__value, .annual_insurance__value{
    width: 145px !important;
  }  
  .annual_tax__label, .annual_insurance__label{
    margin-top: 7px;
  }
  .btn{
    width: 393px !important;
    height: 45px;
    border-radius: 4px;
    background-color: #0077c0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    margin-top: 13px;
  }
  .calculator {
    width: 390px !important;
    height: 474px;
    padding-top: 34px;
    padding-left: 40px;
    padding-right: 40px !important;
  }
  .results{
    /* border: solid; */
    margin-top: 66px;
    margin-left: -20px;
    height: 368px;
    width: 185px !important;
    padding-top: 36px;
    padding-left: 62px;
    padding-right: 46px;
    padding-bottom: 35px;
  }
}
.row {
  margin-right: -15px;
}

.show__small_phones{
  display: none !important;
}

@media (max-width: 750px) {
  body{
    height: 900px;
  }
  .show__small_phones {
    display: block !important;
  }
  .results__separator{
    display: block;
    width: 100%;
    height: 2px;
    border-top: solid 1px #cacaca;
  }
  .results__group{
    height: 30px;
    border-bottom: solid 1px #b2b2b2;
    padding-top: 16px;
    display: block;
  }
  .results_mortage__label{
    margin-top: 19px;
  }
  .results_mortage_value{
    margin-top: 19px;
  }
  .results_label, .results_mortage__label{
    float: left;
    height: 14px;
    font-family: SFUIDisplay;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #3e3d3f;
  }
  .results_value{
    float: right;
    height: 16px;
    font-family: SFUIDisplay;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #3e3d3f;
  }
  .results_mortage_value {
    float: right;
    height: 21px;
    font-family: SFUIDisplay;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #3e3d3f;
  }
  .hide__small_phones {
    display: none !important;
  }
}

.small__phone-1, .mid__phone-1, .tablet-1, .desktop-1, .small__phone-2, .mid__phone-2, .tablet-2, .desktop-2, .small__phone-3, .mid__phone-3, .tablet-3, .desktop-3, .small__phone-4, .mid__phone-4, .tablet-4, .desktop-4, .small__phone-5, .mid__phone-5, .tablet-5, .desktop-5, .small__phone-6, .mid__phone-6, .tablet-6, .desktop-6, .small__phone-7, .mid__phone-7, .tablet-7, .desktop-7, .small__phone-8, .mid__phone-8, .tablet-8, .desktop-8, .small__phone-9, .mid__phone-9, .tablet-9, .desktop-9, .small__phone-10, .mid__phone-10, .tablet-10, .desktop-10{
  position: relative;
  /* min-height: 1px; */
}
.small__phone-1, .small__phone-2, .small__phone-3, .small__phone-4, .small__phone-5, .small__phone-6, .small__phone-7, .small__phone-8, .small__phone-9, .small__phone-10{
  float: left;
}
.small__phone-10 {
  width: 100%; 
}
.small__phone-9 {
  width: 90%; 
}
.small__phone-8 {
  width: 80%; 
}
.small__phone-7 {
  width: 70%; 
}
.small__phone-6 {
  width: 60%; 
}
.small__phone-5 {
  width: 50%; 
}
.small__phone-4 {
  width: 40%; 
}
.small__phone-3 {
  width: 30%; 
}
.small__phone-2 {
  width: 20%; 
}
.small__phone-1 {
  width: 10%;
}
.small__phone-offset-10 {
  margin-left: 100%;
}
.small__phone-offset-9 {
  margin-left: 90%;
}
.small__phone-offset-8 {
  margin-left: 80%;
}
.small__phone-offset-7 {
  margin-left: 70%;
}
.small__phone-offset-6 {
  margin-left: 60%;
}
.small__phone-offset-5 {
  margin-left: 50%;
}
.small__phone-offset-4 {
  margin-left: 40%;
}
.small__phone-offset-3 {
  margin-left: 30%;
}
.small__phone-offset-2 {
  margin-left: 20%;
}
.small__phone-offset-1 {
  margin-left: 10%;
}
.small__phone-offset-0 {
  margin-left: 0;
}

@media (min-width: 750px) {
  .mid__phone-1, .mid__phone-2, .mid__phone-3, .mid__phone-4, .mid__phone-5, .mid__phone-6, .mid__phone-7, .mid__phone-8, .mid__phone-9, .mid__phone-10{
    float: left;
  }
  .mid__phone-10 {
    width: 100% 
  }
  .mid__phone-9 {
    width: 90% 
  }
  .mid__phone-8 {
    width: 80% 
  }
  .mid__phone-7 {
    width: 70% 
  }
  .mid__phone-6 {
    width: 60% 
  }
  .mid__phone-5 {
    width: 50% 
  }
  .mid__phone-4 {
    width: 40% 
  }
  .mid__phone-3 {
    width: 30% 
  }
  .mid__phone-2 {
    width: 20% 
  }
  .mid__phone-1 {
    width: 10% 
  }
  .mid__phone-offset-10 {
    margin-left: 100%;
  }
.mid__phone-offset-9 {
    margin-left: 90%;
  }
.mid__phone-offset-8 {
    margin-left: 80%;
  }
.mid__phone-offset-7 {
    margin-left: 70%;
  }
.mid__phone-offset-6 {
    margin-left: 60%;
  }
.mid__phone-offset-5 {
    margin-left: 50%;
  }
.mid__phone-offset-4 {
    margin-left: 40%;
  }
.mid__phone-offset-3 {
    margin-left: 30%;
  }
.mid__phone-offset-2 {
    margin-left: 20%;
  }
.mid__phone-offset-1 {
    margin-left: 10%;
  }
.mid__phone-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .tablet-1, .tablet-2, .tablet-3, .tablet-4, .tablet-5, .tablet-6, .tablet-7, .tablet-8, .tablet-9, .tablet-10 {
    float: left;
  }
  .tablet-10 {
    width: 100%; 
  }
  .tablet-9 {
    width: 90%; 
  }
  .tablet-8 {
    width: 80%; 
  }
  .tablet-7 {
    width: 70%; 
  }
  .tablet-6 {
    width: 60%; 
  }
  .tablet-5 {
    width: 50%; 
  }
  .tablet-4 {
    width: 40%; 
  }
  .tablet-3 {
    width: 30%; 
  }
  .tablet-2 {
    width: 20%; 
  }
  .tablet-1 {
    width: 10%; 
  }
  .tablet-offset-10 {
    margin-left: 100%;
  }
.tablet-offset-9 {
    margin-left: 90%;
  }
.tablet-offset-8 {
    margin-left: 80%;
  }
.tablet-offset-7 {
    margin-left: 70%;
  }
.tablet-offset-6 {
    margin-left: 60%;
  }
.tablet-offset-5 {
    margin-left: 50%;
  }
.tablet-offset-4 {
    margin-left: 40%;
  }
.tablet-offset-3 {
    margin-left: 30%;
  }
.tablet-offset-2 {
    margin-left: 20%;
  }
.tablet-offset-1 {
    margin-left: 10%;
  }
.tablet-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .desktop-1, .desktop-2, .desktop-3, .desktop-4, .desktop-5, .desktop-6, .desktop-7, .desktop-8, .desktop-9, .desktop-10{
    float: left;
  }
  .desktop-10 {
    width: 100%;
  }
  .desktop-9 {
    width: 90%;
  }
  .desktop-8 {
    width: 80%;
  }
  .desktop-7 {
    width: 70%;
  }
  .desktop-6 {
    width: 60%;
  }
  .desktop-5 {
    width: 50%;
  }
  .desktop-4 {
    width: 40%;
  }
  .desktop-3 {
    width: 30%;
    margin-left: 65px;
    margin-top: 25px;
  }
  .desktop-2 {
    width: 20%;
  }
  .desktop-1 {
    width: 10%;
  }
  .desktop-offset-10 {
    margin-left: 100%;
  }
.desktop-offset-9 {
    margin-left: 90%;
  }
.desktop-offset-8 {
    margin-left: 80%;
  }
.desktop-offset-7 {
    margin-left: 70%;
  }
.desktop-offset-6 {
    margin-left: 60%;
  }
.desktop-offset-5 {
    margin-left: 50%;
  }
.desktop-offset-4 {
    margin-left: 40%;
  }
.desktop-offset-3 {
    margin-left: 30%;
  }
.desktop-offset-2 {
    margin-left: 20%;
  }
.desktop-offset-1 {
    margin-left: 10%;
  }
.desktop-offset-0 {
    margin-left: 0;
  }
}